*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

appSample/build
utilsSample/build

libraryPlugin1/build
appPlugin1/build
appPlugin2/build
appPlugin3Kotlin/build
appWebView/build

replugin-host-gradle/build
replugin-host-lib/build

replugin-plugin-gradle/build
replugin-plugin-lib/build
